# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js & Backend
node_modules/
server/node_modules/
react-bot/node_modules/

# Build Output
dist/
react-bot/dist/
server/dist/
dist-ssr/

# Environment Variables
.env
server/.env
react-bot/.env
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
